@charset "UTF-8";

body {
    background: rgb(70, 165, 236);
    color: white;
    font: normal 15pt Arial;
    text-align: center;
}

header {
    color: white;
}

section {
    text-align: left;
    background: white;
    color: black;
    width: 500px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.360);
    padding: 15px;
    margin: auto;
}

footer {
    font-style: italic;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}